# Análise de Dados com Python

Esse material contém uma solução para um desafio envolvendo análise de dados e é organizado de maneira detalhada e acessível, podendo ser entendida por quem está iniciando na linguagem Python.

**Desafio:** Criar um código, usando Python, que analisa os dados de uma empresa fictícia, que trabalha com telefone, internet e outros serviços, e descubrir o que pode ser feito para diminuir o Churn Rate, ou seja, a taxa de cancelamento de serviços realizado pelo clientes. Na base de dados disponibilizada, a Churn Rate é maior que 26%.

Dentro do [repositório](), você também encontrará: a base de dados, que contém informações dos clientes, quais planos eles assinaram e por quanto tempo; e a solução final, sem a poluição visual dos comentários.

## Sumário

1. Bibliotecas usadas
2. Passo a passo do código
    * Passo 1: Importar a base de dados
    * Passo 2: Visualizar a base de dados
    * Passo 3: Tratar os dados
    * Passo 4: Analisar Graficamente
3. Conclusões e comentários

## 1. Bibliotecas usadas 

As principais bibliotecas usadas: Pandas, pois estamos trabalhando com dados; e Plotly Express, para fazer a construção de gráficos. Precisamos instalar apenas o Plotly Express, pois o Jupyter já tem naturalmente o Pandas. Quem estiver usando outro editor de código para trabalhar com esse mesmo código pode precisar instalar também as bibliotecas: Pandas, Numpy e o Openpyxl.

In [5]:
!pip install plotly

Requirement already satisfied: plotly in c:\users\adria\anaconda3\lib\site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\adria\anaconda3\lib\site-packages (from plotly) (8.0.1)

## 2. Passo a passo do código 

Vamos começar organizando o passo a passo do código, que pode ser feito a partir do pensamento de como seria feito manualmente. Dessa maneira, temos:

* Passo 1: Importar a base de dados
* Passo 2: Visualizar a base de dados
* Passo 3: Tratar os dados
* Passo 4: Analisar Graficamente

### 2.1 Importando a base de dados 
Importamos o arquivo, que está localizado na mesma pasta que está esse Jupyter Notebook.

In [6]:
import pandas as pd

tabela = pd.read_csv("Base de dados.csv")

### 2.2 Visualizando a base de dados

Nessa etapa, vamos entender como estão organizados os dados da tabela, quais informações estão disponíveis e ter um direcionamento para o tratamento de dados.

In [7]:
display(tabela)

,Unnamed: 0,IDCliente,Genero,Aposentado,Casado,Dependentes,MesesComoCliente,ServicoTelefone,MultiplasLinhas,ServicoInternet,...,ServicoSuporteTecnico,ServicoStreamingTV,ServicoFilmes,TipoContrato,FaturaDigital,FormaPagamento,ValorMensal,TotalGasto,Churn,Codigo
0,1869,7010-BRBUU,Masculino,0,Sim,Sim,72,Sim,Sim,Nao,...,SemInternet,SemInternet,SemInternet,2 anos,Nao,CartaoCredito,24.10,1734.65,Nao,NaN
1,4528,9688-YGXVR,Feminino,0,Nao,Nao,44,Sim,Nao,Fibra,...,Nao,Sim,Nao,Mensal,Sim,CartaoCredito,88.15,3973.2,Nao,NaN
2,6344,9286-DOJGF,Feminino,1,Sim,Nao,38,Sim,Sim,Fibra,...,Nao,Nao,Nao,Mensal,Sim,DebitoAutomatico,74.95,2869.85,Sim,NaN
3,6739,6994-KERXL,Masculino,0,Nao,Nao,4,Sim,Nao,DSL,...,Nao,Nao,Sim,Mensal,Sim,BoletoEletronico,55.90,238.5,Nao,NaN
4,432,2181-UAESM,Masculino,0,Nao,Nao,2,Sim,Nao,DSL,...,Nao,Nao,Nao,Mensal,Nao,BoletoEletronico,53.45,119.5,Nao,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,3772,0684-AOSIH,Masculino,0,Sim,Nao,1,Sim,Nao,Fibra,...,Nao,Sim,Sim,Mensal,Sim,BoletoEletronico,95.00,95,Sim,NaN
5982,5191,5982-PSMKW,Feminino,0,Sim,Sim,23,Sim,Sim,DSL,...,Sim,Sim,Sim,2 anos,Sim,CartaoCredito,91.10,2198.3,Nao,NaN
5983,5226,8044-BGWPI,Masculino,0,Sim,Sim,12,Sim,Nao,Nao,...,SemInternet,SemInternet,SemInternet,Mensal,Sim,BoletoEletronico,21.15,306.05,Nao,NaN
5984,5390,7450-NWRTR,Masculino,1,Nao,Nao,12,Sim,Sim,Fibra,...,Nao,Sim,Sim,Mensal,Sim,BoletoEletronico,99.45,1200.15,Sim,NaN
5985,860,4795-UXVCJ,Masculino,0,Nao,Nao,26,Sim,Nao,Nao,...,SemInternet,SemInternet,SemInternet,Anual,Nao,CartaoCredito,19.80,457.3,Nao,NaN

### 2.3 Tratando os dados  

Observando a  tabela do item anterior, podemos perceber uma coluna chamada "Unnamed: 0", que está inutilizada para nossa análise, por isso vamos excluí-la.

In [8]:
tabela = tabela.drop("Unnamed: 0", axis=1)

### 2.4 Analisando Graficamente

## 3. Conclusões e comentários